extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h3 Gestão de Tarefas
                h4 Adicionar Nova Tarefa
            .w3-container
                form.w3-container(action="/addTask", method="POST")
                    label.w3-teal
                        b Nome 
                    input.w3-input.w3-border.w3-light-gray(type="text" name="nome" required="required")    
               
                    label.w3-teal
                        b Descricao 
                    input.w3-input.w3-border.w3-light-gray(type="text" name="descricao" required="required")
                    label.w3-teal
                        b Data 
                    input.w3-input.w3-border.w3-light-gray(type="date" name="data" required="required")
                    input.w3-btn.w3-blue-gray(type="submit" name="Adicionar")
    .w3-container
        .w3-card-4

            header.w3-container.w3-teal
                h3 Suas Tarefas
            .w3-container
                table.w3-table-all
                    tr
                        th Nome da Tarefa
                        th Descrição da Tarefa
                        th Data
                    each tf in lista
                        tr
                            td= tf.nome
                            td= tf.descricao
                            td= tf.data       
                footer.w3-container.w3-teal
                    address Gerado por Gestão de Tarefas App